// menu
.content {
    width: 223px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 6%;
        top: -38px;
        border-width: 21px 12px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
    }
    .menuItem {
        margin-left: 0;
    }
}

.menu_Popper {
    padding-bottom: 8px;
}
.menu_body {
    overflow-y: auto;
    max-height: 590px;
}
// menu Items
.menu_Item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 600;
    color: rgb(22, 24, 35);
    padding: 9.2px 16px;
    font-size: 1.6rem;
    line-height: 21px;
    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
// Header
.header {
    position: relative;
    height: 50px;
    color: var(--textColor);
    margin-top: -8px;
}
.back_Btn {
    width: 48px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header_Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
