@import 'normalize.css';

// variables

:root {
    --primary: #fe2c55;
    --whiteColor: rgb(255, 255, 255);
    --backColor: #000;
    --textColor: rgb(22, 24, 35);
    --font-family: 'TikTokFont', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//-----------
html {
    font-size: 62.5%;
}
// body
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow-y: overlay;
}

// scrollbar css

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button {
    font-family: var(--font-family);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

// nhúng Fonts

@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/src/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/src/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

// dark light
.dark {
    background-color: #121212;
    --textColor: var(--whiteColor);
}

// overwrite tipy totip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: rgb(255, 255, 255);
        padding: 3px;
        text-align: center;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
}
