.wrapper {
    --search-border-radius: 92px;
    height: 60px;
}

.lightWrapper {
    @extend .wrapper;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}
.darkWrapper {
    @extend .wrapper;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;
}

.inner {
    height: 100%;
    width: 100%;
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    cursor: pointer;
    .offsetLogoTikTok {
        margin-top: 11px;
    }
}

.search {
    margin-left: 202px;
    width: 500px;
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1px solid transparent;
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 52px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 28px;
        background: rgba(22, 24, 35, 0.12);
    }
    &:focus-within,
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &:focus-within,
    &:hover .search_Button {
        background: rgba(22, 24, 35, 0.06);
        color: #000;
    }
}
.search_Input {
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    border: none;
    background-color: transparent;
    outline: none;
    padding: 12px 0;
    caret-color: rgb(254, 44, 85);
    flex: 1;
}

.clear,
.loading {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 12px;
}
.clear {
    border: none;
}

.search_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background: rgba(22, 24, 35, 0.06);
        cursor: pointer;
        color: #000;
    }
}

.search_Result {
    width: 500px;
}

.search_Title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 600;
    padding: 5px 12px;
}

.textIcon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.action {
    display: flex;
    align-items: center;
}

.moreBtn {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 14px;
    padding: 4px 10px;
    color: var(--backColor);
    background-color: transparent;
}

.btn_2 {
    margin-left: -1px;
}
.dark_Search {
    background: rgba(255, 255, 255, 0.12) !important;
}
.dark {
    color: #fff;
    .moreBtn {
        color: var(--whiteColor);
    }
}

// user login
.action_Btn {
    background-color: transparent;
    padding: 3px 3px 0px;
    position: relative;
    margin-left: 16px;
    cursor: pointer;
    height: 32px;
    font-size: 2.1rem;
    color: var(--textColor);
    position: relative;
    .action_Btn_message {
        position: absolute;
        left: 16px;
        top: -7px;
        color: var(--whiteColor);
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.093px;
        border-radius: 10px;
        background: var(--primary);
        text-align: center;
        min-width: 20px;
        height: 20px;
        padding: 0;
    }
    .action_Btn_message_big {
        @extend .action_Btn_message;
        padding: 0px 6px;
        top: -20%;
    }
}

.user_Avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 24px;
}
